.header {
  background: #1CA9C9;
  display: flex;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo img {
    width: 200px;
    height: 100px;
  }

  &__button {
    background: #F3F3F3;
    color: #1CA9C9;
  }
}